table {
  width: 70%;
  border: 2px solid black;
  color: black;
  margin-top: 30px;
  background-image: url(../img/mostlovedmovies/oscars-table-background.jpg);
}

#movies-table th {
  background: rgb(2,0,36);
  background: linear-gradient(147deg, rgba(2,0,36,1) 0%, rgba(82,134,231,1) 51%, rgba(0,212,255,1) 100%);
  border: 1px solid black;
  line-height: 10px;
  text-align: center;
  padding-top: 35px;
  color: aliceblue;
}

#movies-table tr {
  height: 50px;
  font-size: 23px;
}

#movies-table tr.first {
  background: rgb(254,255,103);
  background: radial-gradient(circle, rgba(254,255,103,0.69) 31%, rgba(234,255,58,1) 88%);
  color: black;
}

#movies-table tr.second {
  background: radial-gradient(circle, rgba(211,219,228,0.69) 31%, rgba(149,163,180,1) 88%);
  color: black;
}

#movies-table tr.third {
  background: rgb(254,255,103);
  background: radial-gradient(circle, rgba(226,82,60,0.69) 31%, rgba(198,96,22,1) 88%);
  color: black;
}

#movies-table tr{
  background-color: rgba(82, 134, 231, 0.69);
}

#movies-table td {
  text-align: center;
  border: 1px solid black;
}

caption {
  color: aliceblue;
  font-weight: bold;
}
